<h2 class="flex flex-row justify-between items-center mb-4 text-lg font-normal font-inter">
  <div class="flex flex-row gap-2 items-center">
    <ng-icon name="ionAirplaneOutline" size="1.5rem" class="text-color-secondary"></ng-icon>
    Urlaubsanträge
  </div>

  <div class="hidden space-x-2 xl:block">
    <nz-select name="requestor" [(ngModel)]="filterByUser" (ngModelChange)="loadOffTimeEntries()"
      [nzOptionHeightPx]="48" [nzMode]="'multiple'" class="w-96" nzPlaceHolder="Nach Mitarbeiter filtern">
      <nz-option *ngFor="let user of profiles" [nzCustomContent]="true" [nzValue]="user.user!.id!"
        [nzLabel]="user | displayName">
        <span class="flex flex-row gap-2 justify-start items-center w-full text-left">
          <nz-avatar [nzSize]="32" nzIcon="user" [nzSrc]="user.user?.avatar" class="rounded-full ring-1 shadow">
          </nz-avatar>
          {{ user | displayName }}
        </span>
      </nz-option>
    </nz-select>

    <nz-range-picker [(ngModel)]="rangeFilter" (ngModelChange)="loadOffTimeEntries()"></nz-range-picker>

    <nz-radio-group [(ngModel)]="filterType" (ngModelChange)="loadOffTimeEntries()">
      <label nz-radio-button nzValue="all">Alle</label>
      <label nz-radio-button nzValue="new">Neue</label>
    </nz-radio-group>
  </div>

  <button class="tkd-btn tkd-primary" [routerLink]="['create']">Antrag erstellen</button>
</h2>

<div class="overflow-auto">
  <nz-table class="w-full rounded border border-collapse table-auto border-subtle" [nzData]="entries" #table="nzTable"
    nzTableLayout="fixed">
    <thead>
      <tr class="rounded-t bg-subtle">
        <th class="px-2 py-4 font-normal text-left font-lato" [nzShowSort]="true" [nzSortFn]="sortByUser">Benutzer</th>
        <th class="px-2 py-4 font-normal text-left font-lato" [nzShowSort]="true" [nzSortFn]="sortByStartDate">Von</th>
        <th class="px-2 py-4 font-normal text-left font-lato" [nzShowSort]="true" [nzSortFn]="sortByEndDate">Bis</th>
        <th class="px-2 py-4 font-normal text-left font-lato" [nzShowSort]="true" [nzSortFn]="sortByType">Arg</th>
        <th class="px-2 py-4 font-normal text-left font-lato">Beschreibung</th>
        <th class="px-2 py-4 font-normal text-left font-lato" [nzShowSort]="true" [nzSortFn]="sortByApproval">
          Freigegeben</th>
        <th class="px-2 py-4 font-normal text-left font-lato" [nzShowSort]="true" [nzSortFn]="sortByCreated"
          [nzSortOrder]="'ascend'">Erstellt am
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of table.data; trackBy: trackEntry"
        class="border-b border-subtle hover:bg-subtle hover:bg-opacity-50">
        <td class="p-2 text-left font-inter">
          <span class="flex flex-row gap-2 justify-start items-center text-left"
            *ngIf="(e.requestorId | toUser:profiles) as user">
            <nz-avatar [nzSize]="32" nzIcon="user" [nzSrc]="user.user?.avatar" class="rounded-full ring-1 shadow">
            </nz-avatar>
            {{ user | displayName }}
          </span>
        </td>
        <td class="p-2 text-left font-inter">{{ e.from!.toDate() | date:'short' }}</td>
        <td class="p-2 text-left font-inter">{{ e.to!.toDate() | date:'short'}}</td>
        <td class="p-2 text-left font-inter">{{ e.type === types.VACATION ? 'Urlaub' : (e.type === types.TIME_OFF ?
          'Z/A' : 'Auto') }}</td>
        <td class="p-2 text-left font-inter">{{ e.description }}</td>

        <td class="p-2 leading-3 text-left font-inter">
          <div *ngIf="e.approval; else: naTemplate" [nz-tooltip]="e.approval.comment" class="inline-block w-fit">
            <span class="font-medium text-alert-green" *ngIf="e.approval.approved">Genehmigt</span>
            <span class="font-medium text-alert-red" *ngIf="!e.approval.approved">Abgelehnt</span><br>
            <span class="text-xs text-secondary">
              {{ e.approval.approverId | toUser:profiles | displayName }} /
              {{ e.approval.approvedAt!.toDate() | date:'short'}}
            </span>
          </div>
        </td>

        <td class="p-2 leading-3 text-left font-inter">
          {{ e.createdAt!.toDate() | date:'short'}}<br />
          <span class="text-xs text-secondary" *ngIf="e.requestorId !== e.creatorId">(von
            {{ e.creatorId | toUser:profiles | displayName }})</span>
        </td>

        <td style="width: 0; min-width: fit-content; white-space: nowrap">
          <div class="flex flex-row flex-nowrap gap-2">
            <ng-container *ngIf="!e.approval">
            </ng-container>
          </div>

          <button *ngIf="!e.approval" class="tkd-btn tkd-primary tkd-outline" nz-dropdown [nzDropdownMenu]="menu4">
            Aktionen
          </button>

          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="approveOrRejectConfirmation(true, e)">Genehmigen</li>
              <li nz-menu-item (click)="approveOrRejectConfirmation(false, e)">Ablehnen</li>
              <li nz-menu-item [routerLink]="['edit', e.id]">Bearbeiten</li>
              <li nz-menu-item nzDanger (click)="deleteEntry(e)">Löschen</li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<ng-template #naTemplate>
  <span class="text-secondary">N/A</span>
</ng-template>

<nz-modal [nzVisible]="!!approvalModalEntry" (nzOnCancel)="approvalModalEntry = null" (nzOnOk)="approveOrReject()"
  [nzOkText]="approvalModalApprove === 'approve' ? 'Genehmigen' : 'Ablehnen'"
  [nzOkDanger]="approvalModalApprove === 'reject'">
  <ng-container *nzModalTitle>Bestätigung erforderlich</ng-container>
  <div *nzModalContent class="flex flex-col gap-4 font-inter">
    <div class="flex flex-col gap-2 justify-start items-start p-4 rounded bg-subtle" *ngIf="!!approvalModalEntry">
      <table>
        <tr>
          <td class="px-3 py-1 text-secondary">Antragsteller</td>
          <td class="px-3 py-1 font-medium">
            <span class="flex flex-row gap-2 justify-start items-center"
              *ngIf="(approvalModalEntry.requestorId | toUser:profiles) as user">
              <nz-avatar [nzSize]="32" nzIcon="user" [nzSrc]="user.user?.avatar" class="rounded-full ring-1 shadow">
              </nz-avatar>
              {{ user | displayName }}
            </span>
          </td>
        </tr>
        <tr>
          <td class="px-3 py-1 text-secondary">Von</td>
          <td class="px-3 py-1 font-medium">{{ approvalModalEntry.from!.toDate() | date:'long' }}</td>
        </tr>
        <tr>
          <td class="px-3 py-1 text-secondary">Bis</td>
          <td class="px-3 py-1 font-medium">{{ approvalModalEntry.to!.toDate() | date:'long' }}</td>
        </tr>
        <tr>
          <td class="px-3 py-1 text-secondary">Beschreibung</td>
          <td class="px-3 py-1 font-medium">{{ approvalModalEntry.description }}</td>
        </tr>
      </table>
    </div>

    <span>
      Möchtest du den Urlaubsantrag {{ approvalModalApprove === 'approve' ? 'genehmigen' : 'ablehnen'}}?
    </span>

    <input type="text" class="p-1 w-full text-sm border text-normal border-tertiary" name="comment"
      placeholder="Kommentar" [(ngModel)]="approvalComment">

  </div>
</nz-modal>