<header class="flex flex-row flex-wrap justify-between items-center mb-4 gap-4">
  <h2 class="font-light text-xl 2xl:text-2xl ">
    Urlaubsanträge
  </h2>

  <div class="flex flex-row items-center gap-3">
    <app-offtime-filter (filterChange)="_filter.set($event)" [profiles]="_profiles()" #filter />

    <!--<button hlmBtn [routerLink]="['create']">-->
    <button hlmBtn (click)="openOfftimeDialog()">
      <hlm-icon name="lucideListPlus" size="sm" class="mr-2" />
      Antrag erstellen
    </button>
  </div>
</header>

<brn-table hlm class="border mt-4 block min-h-[335px] overflow-auto rounded-md @container"
  [dataSource]="_filteredAndSortedEntries()" [fixedLayout]="true" [trackBy]="trackEntry" stickyHeader
  [displayedColumns]="_displayedColumns()">

  <tkd-empty-table brnNoDataRow [totalCount]="0" [filteredCount]="_filteredCount()" />

  <brn-column-def [name]="columns.User"
    class="w-0 flex-[1_1_8rem] min-w-[8rem] @[934px]:flex-[0_0_12rem] @[1010px]:flex-[0_0_15rem]">
    <hlm-th *brnHeaderDef truncate>
      <tkd-sort-th [(current)]="_sort">
        Benutzer
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e" truncate>
      @if ( (e.requestorId | toUser:_profiles()); as user ) {
      <span class="flex flex-row flex-nowrap gap-2 items-center w-full text-ellipsis overflow-hidden">

        <hlm-avatar variant="medium">
          <img [attr.src]="user.user!.avatar" hlmAvatarImage [attr.alt]="user | displayName">
          <span hlmAvatarFallback>{{ user | userLetter }}</span>
        </hlm-avatar>

        {{ user | displayName }}
      </span>
      } @else {
      N/A
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.From" class="w-0 flex-[0_0_7rem] @[500px]:flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef [truncate]="false">
      <tkd-sort-th [(current)]="_sort">
        Von
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e" [truncate]="false">
      {{ e.from.toDate() | date:'short'}}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.To" class="w-0 flex-[0_0_7rem] @[500px]:flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Bis
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e" class="whitespace-normal">
      {{ e.to.toDate() | date:'short'}}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Type" class="w-0 flex-[0_0_5rem] @[800px]:flex-[0_0_7rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Art
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e" truncate>
      {{ e.type === types.VACATION ? 'Urlaub' : (e.type === types.TIME_OFF ?
      'Z/A' : 'Auto') }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Description" class="w-0 flex-[1_0_10rem]">
    <hlm-th *brnHeaderDef truncate>Beschreibung</hlm-th>
    <hlm-td *brnCellDef="let e" truncate>
      {{ e.description }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Approval" class="w-0 flex-[0_0_9rem] @[1190px]:flex-[0_0_12rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Freigabe
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      @if (e.approval) {
      <hlm-tooltip>
        <div hlmTooltipTrigger class="inline-block w-[fit-content] overflow-hidden">
          @if (e.approval.approved) {
          <span hlmBadge variant="outline">Genehmigt</span>
          }
          @if (!e.approval.approved) {
          <span hlmBadge variant="destructive">Abgelehnt</span>
          }

          <br>
          <span class="text-xs text-primary/75 whitespace-nowrap overflow-hidden text-ellipsis">
            {{ e.approval.approverId | toUser:_profiles() | displayName }} /
            {{ e.approval.approvedAt!.toDate() | date:'shortDate'}}
          </span>
        </div>
        <div *brnTooltipContent class="flex flex-row gap-1 items-center">
          @if (e.approval.comment) {
          <span class="text-primary underline">{{ e.approval.approverId | toUser:_profiles() | displayName }}:</span>
          <span class="no-underline">{{e.approval.comment}}</span>
          } @else {
          <span class="text-primary/50 italic">{{ e.approval.approverId | toUser:_profiles() | displayName }} hat
            keinen Kommentar hinterlassen </span>
          }
        </div>
      </hlm-tooltip>
      } @else {
      <span class="text-primary/50 font-bold">N/A</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.CreatedAt" class="w-0 flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Erstellt am
      </tkd-sort-th>
    </hlm-th>
    <hlm-td *brnCellDef="let e">
      {{ e.createdAt!.toDate() | date:'short'}}<br />
      @if (e.requestorId !== e.creatorId) {
      <span class="text-xs text-secondary">(von
        {{ e.creatorId | toUser:_profiles() | displayName }})</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Actions" class="w-12 {{ container.md() ? '': 'p-0' }}">
    <hlm-th *brnHeaderDef></hlm-th>
    <hlm-td *brnCellDef="let e">
      <button hlmBtn variant="ghost" size="icon" [brnMenuTriggerFor]="menu4">
        <hlm-icon name="lucideMoreVertical" size="sm" />
      </button>

      <hlm-alert-dialog #dialog>
        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
          <hlm-alert-dialog-header>
            <h3 hlmAlertDialogTitle>Antrag wirklich löschen?</h3>
            <p hlmAlertDialogDescription>
              Diese Aktion kann nicht rückgängig gemacht werden.
            </p>
          </hlm-alert-dialog-header>

          <hlm-alert-dialog-footer>
            <button hlmAlertDialogCancel (click)="ctx.close()">Abbrechen</button>
            <button hlmAlertDialogAction class="!bg-destructive !text-destructive-foreground"
              (click)="deleteEntry(e); ctx.close()">Löschen</button>
          </hlm-alert-dialog-footer>
        </hlm-alert-dialog-content>

      </hlm-alert-dialog>

      <ng-template #menu4>
        <hlm-menu class="w-56">
          <hlm-menu-label>Aktionen</hlm-menu-label>
          <hlm-menu-separator />
          <hlm-menu-group>
            <button hlmMenuItem (click)="approveOrRejectConfirmation(true, e)" [brnAlertDialogTriggerFor]="approval">
              <hlm-icon name="lucideCheckCircle" hlmMenuIcon />
              <span>Genehmigen</span>
            </button>

            <button hlmMenuItem (click)="approveOrRejectConfirmation(false, e)" [brnAlertDialogTriggerFor]="approval">
              <hlm-icon name="lucideXCircle" hlmMenuIcon />
              <span>Ablehnen</span>
            </button>

            <button hlmMenuItem (click)="openOfftimeDialog(e)">
              <hlm-icon name="lucidePencil" hlmMenuIcon />
              <span>Bearbeiten</span>
            </button>

            <button hlmMenuItem class="text-destructive hover:text-destructive" [brnAlertDialogTriggerFor]="dialog">
              <hlm-icon name="lucideTrash2" hlmMenuIcon />
              <span>Löschen</span>
            </button>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
    </hlm-td>
  </brn-column-def>

</brn-table>

<p class="flex justify-end items-start text-sm text-primary/75 font-medium mt-4 gap-1 w-full">

  @if (_loading()) {
  <span hlmBadge variant="secondary">
    <hlm-spinner size="xs" class="mr-2" />
    Anträge werden geladen ...
  </span>
  } @else {
  @if (_totalCount() - _filteredCount(); as diff) {
  <hlm-tooltip>
    <button hlmTooltipTrigger hlmBadge variant="outline" class="hover:bg-secondary hover:text-secondary-foreground"
      (click)="filter.reset()">
      {{ _totalCount() - diff }} gefilterte Ergebnisse von {{ _totalCount() }}
    </button>
    <span *brnTooltipContent>
      Klicke um den Filter zurück zu setzten
    </span>
  </hlm-tooltip>
  } @else {
  <hlm-tooltip>
    <button hlmTooltipTrigger hlmBadge variant="outline" class="hover:bg-secondary hover:text-secondary-foreground"
      (click)="filter.open()">
      {{ _totalCount() }} Ergebnisse
    </button>

    <span *brnTooltipContent>Klicke um die Ergbnisse zu filtern</span>
  </hlm-tooltip>
  }
  }
</p>


<hlm-alert-dialog #approval>
  <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
    <hlm-alert-dialog-header>
      <h3 hlmAlertDialogTitle>Bestätigung erforderlich</h3>
      <p hlmAlertDialogDescription>
        Möchtest du den Urlaubsantrag {{ approvalModalApprove === 'approve' ? 'genehmigen' : 'ablehnen'}}?
      </p>
    </hlm-alert-dialog-header>

    @if (!!approvalModalEntry) {
    <brn-separator hlmSeparator decorative class="mt-8" />

    <table class="w-full text-sm">
      <tr>
        <td class="px-3 py-1 text-primary/50">Antragsteller</td>
        <td class="px-3 py-1 font-medium">
          @if ((approvalModalEntry.requestorId | toUser:_profiles()); as user) {
          <span class="flex flex-row gap-2 justify-start items-center">
            <hlm-avatar
              class="transition-shadow duration-200 ease-in-out group-hover:ring-2 group-hover:ring-primary/50 group-hover:ring-offset-2"
              variant="medium">
              <img [attr.src]="user.user!.avatar" hlmAvatarImage [attr.alt]="user | displayName">
              <span hlmAvatarFallback>{{ user | userLetter }}</span>
            </hlm-avatar>

            {{ user | displayName }}
          </span>
          }
        </td>
      </tr>
      <tr>
        <td class="px-3 py-1 text-primary/50">Von</td>
        <td class="px-3 py-1 font-medium">{{ approvalModalEntry.from!.toDate() | date:'long' }}</td>
      </tr>
      <tr>
        <td class="px-3 py-1 text-primary/50">Bis</td>
        <td class="px-3 py-1 font-medium">{{ approvalModalEntry.to!.toDate() | date:'long' }}</td>
      </tr>
      <tr>
        <td class="px-3 py-1 text-primary/50">Beschreibung</td>
        <td class="px-3 py-1 font-medium">{{ approvalModalEntry.description }}</td>
      </tr>
    </table>

    <brn-separator hlmSeparator decorative class="mb-8" />
    }

    <label hlmLabel>
      Kommentar (optional)
      <textarea size="lg" hlmInput class="p-1 w-full text-sm border text-normal border-tertiary" name="comment"
        placeholder="Kommentar" [(ngModel)]="approvalComment"></textarea>
    </label>

    <hlm-alert-dialog-footer>
      <button hlmAlertDialogCancel (click)="ctx.close()">Abbrechen</button>
      <button hlmAlertDialogAction (click)="approveOrReject(); ctx.close()">
        {{ approvalModalApprove === 'approve' ? 'Genehmigen' : 'Ablehnen'}}
      </button>
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>