<div class="flex flex-row justify-between mb-2 text-lg font-normal  ">
  <h2 class="font-light text-xl 2xl:text-2xl flex flex-row items-center gap-4">
    Abwesenheiten

    @if (_loading()) {
    <hlm-spinner />
    }
  </h2>

  <div class="flex flex-row justify-end items-center gap-4">
    <app-cost-filter [(filter)]="_filter" [profiles]="_profiles()" #filter />
    <button hlmBtn variant="default" (click)="openCreateDialog()">
      <hlm-icon name="lucideListPlus" size="sm" class="mr-2"></hlm-icon>
      Abwesenheit eintragen
    </button>
  </div>
</div>

<brn-table hlm class="@container border mt-4 block min-h-[335px] overflow-auto rounded-md"
  [dataSource]="_filteredAndSorted()" [fixedLayout]="true" [trackBy]="trackEntries" stickyHeader
  [displayedColumns]="_displayedColumns()">

  <tkd-empty-table brnNoDataRow [filter]="filter" [totalCount]="_totalCount()" [filteredCount]="_filteredCount()" />

  <brn-column-def [name]="columns.User" class="flex-[1_1_8rem] w-0 min-w-[8rem] @[934px]:flex-[0_0_240px]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Mitarbeiter
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      @if (e.profile; as user) {
      <span class="inline-flex flex-row flex-nowrap gap-2 items-center text-ellipsis overflow-hidden">

        <hlm-avatar variant="medium" [class.hidden]="!container.sm()">
          <img [attr.src]="user | avatar" hlmAvatarImage [attr.alt]="user | displayName">
          <span hlmAvatarFallback>{{ user | userLetter }}</span>
        </hlm-avatar>

        {{ user | displayName }}
      </span>
      } @else {
      <span class="font-medium text-primary/50">N/A</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Date" class="flex-[0_0_7rem] w-0 @[450px]:flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Datum
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.cost.date?.toDate() | date:'mediumDate'}}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Duration" class="flex-[0_0_5rem] w-0 @[450px]:flex-[0_0_7rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Zeit
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{e.cost.costs!.seconds > 0 ? '+' : ''}}{{ e.cost.costs | duration:'default-hours'}}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Type" class="flex-[0_0_7rem] w-0">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Art
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.cost.isVacation ? 'Urlaub' : 'ZA' }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Reason" class="w-0 flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      Grund
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      @switch (e.cost.rosterId ? 'roster' : (e.cost.offtimeId ? 'offtime' : '')) {
      @case ('roster') {
      <span hlmBadge variant="default" [routerLink]="['/roster/view', e.cost.rosterId]">Dienstplan</span>
      }
      @case ('offtime') {
      <span hlmBadge variant="secondary" [routerLink]="['/offtime/view', e.cost.offtimeId]">Urlaubsantrag</span>
      }
      @default {
      <span hlmBadge variant="outline">
        N/A
      </span>
      }
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Comment" class="flex-[1_0_8rem] w-0">
    <hlm-th *brnHeaderDef>
      Bemerkung
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.cost.comment }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.CreatedAt" class="w-0 flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Erstellt am
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.cost.createdAt?.toDate() | date:'mediumDate' }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.CreatedBy" class="w-0 flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Erstellt von
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.cost.creatorId | toUser:_profiles() | displayName }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Actions" class="flex-[0_0_2rem] p-0">
    <hlm-th *brnHeaderDef></hlm-th>

    <hlm-td *brnCellDef="let e">
      <button hlmBtn variant="ghost" size="icon" [brnMenuTriggerFor]="menu4">
        <hlm-icon name="lucideMoreVertical" size="sm" />
      </button>

      <hlm-alert-dialog #dialog>
        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
          <hlm-alert-dialog-header>
            <h3 hlmAlertDialogTitle>Eintrag wirklich löschen?</h3>
            <p hlmAlertDialogDescription>
              Diese Aktion kann nicht rückgängig gemacht werden.
            </p>
          </hlm-alert-dialog-header>

          <hlm-alert-dialog-footer>
            <button hlmAlertDialogCancel (click)="ctx.close()">Abbrechen</button>
            <button hlmAlertDialogAction class="!bg-destructive !text-destructive-foreground"
              (click)="delete(e.cost.id); ctx.close()">Löschen</button>
          </hlm-alert-dialog-footer>
        </hlm-alert-dialog-content>
      </hlm-alert-dialog>

      <ng-template #menu4>
        <hlm-menu class="w-56">
          <hlm-menu-label>Aktionen</hlm-menu-label>
          <hlm-menu-separator />
          <hlm-menu-group>
            <button hlmMenuItem class="text-destructive hover:text-destructive" [brnAlertDialogTriggerFor]="dialog">
              <hlm-icon name="lucideTrash2" hlmMenuIcon />
              <span>Löschen</span>
            </button>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
    </hlm-td>
  </brn-column-def>

</brn-table>

<p class="flex justify-end items-start text-sm text-primary/75 font-medium mt-4 gap-1 w-full">
  @if (_loading()) {
  <span hlmBadge variant="secondary">
    <hlm-spinner size="xs" class="mr-2" />
    Anträge werden geladen ...
  </span>
  } @else {
  @if (_totalCount() - _filteredCount(); as diff) {
  <hlm-tooltip>
    <button hlmTooltipTrigger hlmBadge variant="outline" class="hover:bg-secondary hover:text-secondary-foreground"
      (click)="filter.reset()">
      {{ _totalCount() - diff }} gefilterte Ergebnisse von {{ _totalCount() }}
    </button>
    <span *brnTooltipContent>
      Klicke um den Filter zurück zu setzten
    </span>
  </hlm-tooltip>
  } @else {
  <hlm-tooltip>
    <button hlmTooltipTrigger hlmBadge variant="outline" class="hover:bg-secondary hover:text-secondary-foreground"
      (click)="filter.open()">
      {{ _totalCount() }} Ergebnisse
    </button>

    <span *brnTooltipContent>Klicke um die Ergbnisse zu filtern</span>
  </hlm-tooltip>
  }
  }
</p>
