/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind utilities;
@tailwind variants;
@tailwind components;

@import "~@tierklinik-dobersberg/tailwind/theme.css";

html, body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  @apply font-normal;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-corner {
    background: #000;
}
