<header class="flex flex-row items-center justify-between gap-2 mb-4 text-lg font-normal ">
  <h2 class="flex flex-row items-center gap-2 text-xl font-light 2xl:text-2xl">
    Arbeitsschichten
    @if (_loading()) {
    <hlm-spinner />
    }
  </h2>


  <button hlmBtn (click)="editOrCreate()">
    <hlm-icon name="lucideListPlus" size="sm" class="mr-2"></hlm-icon>
    Schicht hinzufügen
  </button>
</header>


<brn-table hlm class="@container border mt-4 block min-h-[335px] overflow-auto rounded-md"
  [dataSource]="_sortedShifts()" [fixedLayout]="true" [trackBy]="trackWs" stickyHeader
  [displayedColumns]="_displayedColumns()">

  <brn-column-def [name]="columns.Name" class="w-0 flex-[1_0_8rem] whitespace-nowrap overflow-hidden text-ellipsis">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Name
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      <div class="flex flex-row items-center gap-2 overflow-hidden text-ellipsis">
        <span class="block w-4 h-4 rounded-full" [style.backgroundColor]="e.color"></span>
        {{ e.name }}
      </div>
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.DisplayName" class="w-0 flex-[0_0_5rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        AN
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.displayName }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Type" class="w-0 flex-[0_0_7rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Typ
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      @if (e.onHoliday) {
      <span hlmBadge>Urlaub</span>
      } @else {
      <span hlmBadge variant="secondary">Regulär</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Weekdays" class="w-0 flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      Wochentage
    </hlm-th>

    <hlm-td *brnCellDef="let e" class="flex-wrap gap-1">
      @for (day of e.days; track day) {
      <span hlmBadge variant="outline" class="font-mono">{{ [day] | workday }}</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Description" class="w-0 flex-[0_0_15rem]">
    <hlm-th *brnHeaderDef>
      Beschreibung
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.description }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Time" class="w-0 flex-[0_0_7rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Zeit
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.from | daytime }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Duration" class="w-0 flex-[0_0_5rem]">
    <hlm-th *brnHeaderDef>
      Dauer
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.duration | duration:'default-hours'}}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Value" class="w-0 flex-[0_0_7.5rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Wert
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ (e.timeWorth?.seconds ? e.timeWorth : e.duration) | duration:'default-hours' }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Tags" class="w-0 flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      Tags
    </hlm-th>

    <hlm-td *brnCellDef="let e" class="flex-wrap gap-1">
      @for (tag of e.tags; track tag) {
      <span hlmBadge variant="outline" class="font-mono">{{ tag }}</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.EmployeeCount" class="w-0 flex-[0_0_7rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort" class="overflow-hidden whitespace-nowrap text-ellipsis">
        Anzahl
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.requiredStaffCount }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.EligibleRoles" class="w-0 flex-[0_0_14rem] overflow-hidden flex-wrap text-ellipsis">
    <hlm-th *brnHeaderDef>
      Rollen
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.eligibleRoleIds | roleList:_roles() }}
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Actions" class="w-0 flex-[0_0_3rem]">
    <hlm-th *brnHeaderDef>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      <button hlmBtn variant="ghost" size="icon" [brnMenuTriggerFor]="menu">
        <hlm-icon name="lucideMoreVertical" size="sm" />
      </button>

      <hlm-alert-dialog #alertDialog>
        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
          <hlm-alert-dialog-header>
            <h3 hlmAlertDialogTitle>Schicht wirklich löschen?</h3>
            <p hlmAlertDialogDescription>
              Diese Aktion kann nicht rückgängig gemacht werden.
            </p>
          </hlm-alert-dialog-header>

          <hlm-alert-dialog-footer>
            <button hlmAlertDialogCancel (click)="ctx.close()">Abbrechen</button>
            <button hlmAlertDialogAction class="!bg-destructive !text-destructive-foreground"
              (click)="delete(e); ctx.close()">Löschen</button>
          </hlm-alert-dialog-footer>
        </hlm-alert-dialog-content>
      </hlm-alert-dialog>

      <ng-template #menu>
        <hlm-menu>
          <hlm-menu-label>Aktionen</hlm-menu-label>
          <hlm-menu-separator />
          <hlm-menu-group>
            <button hlmMenuItem (click)="editOrCreate(e)">
              <hlm-icon name="lucidePencil" hlmMenuIcon />
              Bearbeiten
            </button>

            <button hlmMenuItem (click)="duplicate(e)">
              <hlm-icon name="lucideCopy" hlmMenuIcon />
              Duplizieren
            </button>

            <hlm-menu-separator />
            <button hlmMenuItem [brnAlertDialogTriggerFor]="alertDialog" class="!text-destructive">
              <hlm-icon name="lucideTrash2" hlmMenuIcon />
              Löschen
            </button>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
    </hlm-td>
  </brn-column-def>
</brn-table>