<h2 class="flex flex-row justify-between mb-4 text-lg font-normal">
  Arbeitsschichten
  <button class="tkd-btn tkd-primary" [routerLink]="['workshifts', 'new']">Schicht hinzufügen</button>
</h2>

<div class="overflow-auto">

  <table class="w-full border border-collapse rounded table-auto border-subtle">
    <thead>
      <tr class="bg-gray-100">
        <th class="p-4 font-normal text-left ">Name</th>
        <th class="p-4 font-normal text-left ">Anzeige-Name</th>
        <th class="p-4 font-normal text-left ">Typ</th>
        <th class="p-4 font-normal text-left ">Wochentage</th>
        <th class="p-4 font-normal text-left ">Beschreibung</th>
        <th class="p-4 font-normal text-left ">Zeit</th>
        <th class="p-4 font-normal text-left ">Wertung</th>
        <th class="p-4 font-normal text-left ">Tags</th>
        <th class="p-4 font-normal text-left ">Mitarbeiter-Anzahl</th>
        <th class="p-4 font-normal text-left ">Benutzerrollen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of workShifts; trackBy: trackWs"
        class="border-b border-subtle hover:bg-gray-100 hover:bg-opacity-50">
        <td class="p-3 font-inter">
          <div class="flex flex-row items-center gap-2">
            <span class="block w-4 h-4 rounded-full" [style.backgroundColor]="entry.color"></span>
            {{ entry.name }}
          </div>
        </td>
        <td class="p-2 font-inter">{{ entry.displayName }}</td>
        <td class="p-2 font-inter">{{ entry.onHoliday ? 'Feiertage' : 'Regulär' }}</td>
        <td class="p-2 font-inter">{{ entry.days | workday }}</td>
        <td class="p-2 font-inter">{{ entry.description }}</td>
        <td class="p-2 font-inter">{{ entry.from| daytime }} - {{ entry.from | daytime:entry.duration }} <span
            class="text-secondary">({{ entry.duration | duration }})</span> </td>
        <td class="p-2 font-inter">{{ (entry.timeWorth?.seconds ? entry.timeWorth : entry.duration) | duration }}</td>
        <td class="p-2 font-inter">{{ entry.tags.join(', ') }}</td>
        <td class="p-2 font-inter">{{ entry.requiredStaffCount }}</td>
        <td class="p-2 font-inter">{{ entry.eligibleRoleIds | roleList:roles }}</td>

        <td class="p-2">
          <div class="flex flex-row items-center justify-end gap-2">

            <button class="tkd-btn tkd-primary tkd-outline" nz-dropdown [nzDropdownMenu]="menu">
              Aktionen
            </button>


            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item [routerLink]="['workshifts', 'edit', entry.id]">Bearbeiten</li>
                <li nz-menu-item (click)="duplicate(entry)">Duplizieren</li>
                <li nz-menu-item (click)="delete(entry)" class="text-alert-red-dark">Löschen</li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
