<h2 class="flex flex-row justify-between mb-4 text-lg font-normal font-inter">
  Arbeitsschichten
  <button class="tkd-btn tkd-primary" [routerLink]="['workshifts', 'new']">Schicht hinzufügen</button>
</h2>

<table class="w-full border border-collapse rounded table-auto border-subtle">
  <thead>
    <tr class="bg-subtle">
      <th class="p-4 font-normal text-left font-lato">Name</th>
      <th class="p-4 font-normal text-left font-lato">Anzeige-Name</th>
      <th class="p-4 font-normal text-left font-lato">Typ</th>
      <th class="p-4 font-normal text-left font-lato">Wochentage</th>
      <th class="p-4 font-normal text-left font-lato">Beschreibung</th>
      <th class="p-4 font-normal text-left font-lato">Start-Zeit</th>
      <th class="p-4 font-normal text-left font-lato">Dauer</th>
      <th class="p-4 font-normal text-left font-lato">Wertung</th>
      <th class="p-4 font-normal text-left font-lato">Tags</th>
      <th class="p-4 font-normal text-left font-lato">Mitarbeiter-Anzahl</th>
      <th class="p-4 font-normal text-left font-lato">Benutzerrollen</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of workShifts; trackBy: trackWs" class="border-b border-subtle hover:bg-subtle hover:bg-opacity-50">
        <td class="p-3 font-inter">
          <div class="flex flex-row items-center gap-2">
            <span class="block w-4 h-4 rounded-full" [style.backgroundColor]="entry.color"></span>
            {{ entry.name }}
          </div>
        </td>
        <td class="p-2 font-inter">{{ entry.displayName }}</td>
        <td class="p-2 font-inter">{{ entry.onHoliday ? 'Feiertage' : 'Regulär' }}</td>
        <td class="p-2 font-inter">{{ entry.days | workday }}</td>
        <td class="p-2 font-inter">{{ entry.description }}</td>
        <td class="p-2 font-inter">{{ entry.from| daytime }}</td>
        <td class="p-2 font-inter">{{ entry.duration | duration }}</td>
        <td class="p-2 font-inter">{{ (entry.timeWorth?.seconds ? entry.timeWorth : entry.duration) | duration }}</td>
        <td class="p-2 font-inter">{{ entry.tags.join(', ') }}</td>
        <td class="p-2 font-inter">{{ entry.requiredStaffCount }}</td>
        <td class="p-2 font-inter">{{ entry.eligibleRoleIds | roleList:roles }}</td>

        <td class="p-2">
          <div class="flex flex-row items-center justify-end gap-2">
            <button [routerLink]="['workshifts', 'edit', entry.id]" class="tkd-btn tkd-primary tkd-outline">Bearbeiten</button>
          </div>
        </td>
    </tr>
  </tbody>
</table>
