<span class="inline-flex flex-row w-full mb-1 text-xs justify-center items-center rounded text-primary gap-1">
  @if (!_loading()) {
  <span hlmBadge [variant]="_holiday() ? 'default' : 'outline'"
    class="transform scale-[90%] inline-flex flex-row gap-1 items-center border-none overflow-hidden">
    @if (layout.lg()) {
    <span>{{ date() | date:'dd.MM' }}</span>
    } @else {
    <span class="font-medium">{{ date() | date:'EEEE, dd.MM' }}</span>
    }

    @if (_holiday(); as holiday) {
    <brn-separator hlm decorative orientation="vertical" class="w-[1px] h-[10px]" />

    <span class="overflow-hidden text-ellipsis whitespace-nowrap">
      {{ holiday.localName }}
    </span>
    }
  </span>
  } @else {
  <hlm-skeleton class="h-4 w-8" />
  }
</span>


<ul class="flex overflow-auto flex-col flex-grow gap-1 px-0.5 py-0.5 group print:p-0.5">
  @if (_loading()) {
  <li>
    <hlm-skeleton class="h-10 rounded-md" />
  </li>
  <li>
    <hlm-skeleton class="h-10 rounded-md" />
  </li>
  <li>
    <hlm-skeleton class="h-10 rounded-md" />
  </li>
  } @else {

  @for (shift of _shifts(); track shift.uniqueId) {

  @if (shift.workShiftId|inList:_shiftsToShow()) {

  <li
    class="flex overflow-hidden rounded-md print:rounded-none print:shadow-none relative flex-row gap-1 justify-start items-center text-xs shadow-sm transition-all duration-200 ease-in-out hover:ring-1 text-primary"
    [ngStyle]="{
      backgroundColor: shift.color + '40'
    }" [ngClass]="{
      'cursor-not-allowed opacity-40': !!_selectedUser() && !(_selectedUser()|inList:shift.eligibleUsers) && !(_selectedUser()|inList:shift.assignedUsers),
    }">

    @if (layout.md()) {
    <brn-select [ngModel]="shift.assignedUsers"
      (ngModelChange)="_service.setShiftAssignments(date(), shift.uniqueId, $event)" [multiple]="true" class="w-full"
      [disabled]="_readonly()">
      <tkd-shift-select [shift]="shift" brnSelectTrigger class="w-full px-1.5 py-1 print:p-0.5" />

      <hlm-select-content class="max-h-[30rem]">
        @for (userId of (shift.eligibleUsers|joinLists:shift.assignedUsers); track userId) {
        @if (userId | toUser:_profiles(); as user) {
        <hlm-option [value]="user.user!.id">
          <hlm-avatar
            class="transition-shadow duration-200 ease-in-out group-hover:ring-2 group-hover:ring-primary/50 group-hover:ring-offset-2 mr-4"
            variant="small">
            <img [attr.src]="user.user!.avatar" hlmAvatarImage [attr.alt]="user | displayName">
            <span hlmAvatarFallback>{{ user | userLetter }}</span>
          </hlm-avatar>

          <span class="inline-flex flex-grow flex-col leading-3 items-start justify-start py-0.5">
            <span>{{ user | displayName }}</span>
            <span class="text-primary/70 text-[0.7rem]">
              @if (_workTimes()[userId]; as work) {
              <span [ngClass]="{'text-alert-red': work.expectedTime!.seconds < work.plannedTime!.seconds}">
                {{ work.plannedTime | duration:'default-hours' }}
              </span>
              <span>/{{ work.expectedTime | duration:'default-hours' }}</span>
              }
            </span>
          </span>
        </hlm-option>
        }
        }
      </hlm-select-content>
    </brn-select>
    } @else {
    <tkd-shift-select [shift]="shift" class="w-full px-1.5 py-1" />
    }

  </li>
  }

  }
  }
</ul>