<form class="w-[600px]" #form="ngForm" (ngSubmit)="save()">

  <hlm-dialog-header class="pb-4">
    <h3 hlmDialogTitle>Arbeitschicht bearbeiten</h3>
    <p hlmDialogDescription>Hier kannst du eine Arbeitsschicht bearbeiten oder erstellen.</p>

    <brn-separator hlm />
  </hlm-dialog-header>

  <div class="flex flex-col gap-4 overflow-y-auto max-h-[70vh] p-4 w-full">

    <app-error-messages>
      <label hlmLabel for="name">
        Name
      </label>
      <input type="text" hlmInput name="name" [(ngModel)]="_name" required />
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="description">
        Beschreibung
      </label>
      <input type="text" hlmInput name="description" [(ngModel)]="_description" />
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="color">
        Farbe
      </label>
      <input type="text" hlmInput name="color" [(ngModel)]="_color" />
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="displayName">
        Anzeige-Name
      </label>
      <input type="text" hlmInput name="displayName" [(ngModel)]="_displayName" required />
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="from">
        Startzeit
      </label>
      <input type="text" hlmInput name="from" [(ngModel)]="_form" required />
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="duration">
        Dauer
      </label>
      <input type="text" hlmInput name="duration" [(ngModel)]="_duration" duration required />
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="value">
        Wert
      </label>
      <input type="text" hlmInput name="value" [(ngModel)]="_timeValue" duration />
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="count">
        Anzahl Mitarbeiter
      </label>
      <input type="number" hlmInput name="count" required [(ngModel)]="_staffCount" [min]="1" />
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="order">
        Reihenfolge
      </label>
      <input type="number" hlmInput name="order" [(ngModel)]="_order" />
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="type">Typ</label>

      <brn-select name="type" class="inline-block col-span-2" placeholder="Bitte auswählen" required
        [(ngModel)]="_onHoliday">
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>

        <hlm-select-content class="w-56 max-h-[30rem]">
          <hlm-option [value]="true"> Urlaub </hlm-option>
          <hlm-option [value]="false"> Regulär </hlm-option>
        </hlm-select-content>
      </brn-select>
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="roles">Rollen</label>

      <brn-select name="roles" [multiple]="true" placeholder="Bitte auswählen" [(ngModel)]="_eligibleRoles">
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>

        <hlm-select-content class="max-h-[30rem]">
          @for (role of _roles(); track role.id) {
          <hlm-option [value]="role.id"> {{ role.name }} </hlm-option>
          }
        </hlm-select-content>
      </brn-select>
    </app-error-messages>

    <app-error-messages>
      <label hlmLabel for="days">Wochentage</label>

      <brn-select name="days" [multiple]="true" class="inline-block col-span-2" placeholder="Bitte auswählen"
        [(ngModel)]="_days">
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>

        <hlm-select-content class="max-h-[30rem]">
          <hlm-option [value]="1">Montag</hlm-option>
          <hlm-option [value]="2">Dienstag</hlm-option>
          <hlm-option [value]="3">Mittwoch</hlm-option>
          <hlm-option [value]="4">Donnerstag</hlm-option>
          <hlm-option [value]="5">Freitag</hlm-option>
          <hlm-option [value]="6">Samstag</hlm-option>
          <hlm-option [value]="0">Sonntag</hlm-option>
        </hlm-select-content>
      </brn-select>
    </app-error-messages>

    <label hlmLabel for="tags">Tags</label>
    <div hlmInput class="space-x-1 -mt-3" name="tags">
      @for (item of _tags(); track item) {
        <span hlmBadge variant="outline" size="default" class="flex flex-row items-center justify-center gap-2 whitespace-nowrap pr-1 hover:bg-gray-100">
          {{ item }}
          <hlm-icon size="sm" name="lucideXCircle" class="cursor-pointer hover:bg-black hover:text-white transition-colors duration-150 rounded-full" (click)="removeTag(item)" />
        </span>
      }

      <input type="text" class="border-none outline-none ring-none h-full w-full py-2" (keyup.enter)="addTag($any($event))" (keyup.backspace)="removeLastTag()" />
    </div>

    @if( _isEdit() ){
    <label hlmLabel class="flex items-center" for="updateInPlace">
      <hlm-checkbox [(ngModel)]="_updateInPlace" class="mr-2" name="updateInPlace" />
      Arbeitsschicht überschreiben
    </label>
    }
  </div>

  <brn-separator hlm />

  <hlm-dialog-footer class="mt-4">
    <button hlmBtn variant="secondary" type="button" (click)="abort()">Abbrechen</button>
    <button hlmBtn variant="default" [disabled]="form.invalid" type="submit">Speichern</button>
  </hlm-dialog-footer>

</form>
