<hlm-dialog-header>
  <h3 hlmDialogTitle>
    Dienstplan Freigabe
  </h3>
  <p hlmDialogDescription>Dienstplan von <u>{{ roster?.from | date:'mediumDate' }}</u> bis <u>{{ roster?.to |
      date:'mediumDate' }}</u>.
  </p>
</hlm-dialog-header>

<brn-separator hlmSeparator />

<table class="w-ffit border border-collapse rounded table-fixed border-subtle mt-4 mb-4">
  <thead>
    <tr class="bg-gray-100">
      <th class="px-2 py-4 font-normal text-left ">Mitarbeiter</th>
      <th class="px-2 py-4 font-normal text-left ">Soll-Zeit</th>
      <th class="px-2 py-4 font-normal text-left ">Ist-Zeit</th>
      <th class="px-2 py-4 font-normal text-left ">Zeit-Differenz</th>
      <th class="px-2 py-4 font-normal text-left ">Urlaubszeit</th>
      <th class="px-2 py-4 font-normal text-left ">Zeitausgleich</th>
    </tr>
  </thead>
  <tbody>
    @for (wt of timeAnalysis; track wt.userId) {
    @if (!wt.excludeFromTimeTracking && ((wt.expectedTime && wt.expectedTime.seconds > 0) || (wt.plannedTime &&
    wt.plannedTime.seconds > 0))) {
    <tr
      class="{{ !offTimePerUser[wt.userId]?.length ? 'border-b border-subtle' : '' }} hover:bg-gray-100 hover:bg-opacity-50">
      <td class="p-2 text-left  ">
        @if ((wt.userId | toUser:profiles); as user) {
        <span class="flex flex-row items-center justify-start gap-2 text-left">

          <hlm-avatar variant="medium" class="border border-secondary bg-secondary">
            <img [attr.src]="user.user?.avatar" hlmAvatarImage>
            <span class="bg-[#FD005B] text-white" hlmAvatarFallback>{{ user.user?.username || 'N/A'}}</span>
          </hlm-avatar>

          {{ user | displayName }}
        </span>
        }
      </td>
      <td class="p-2 text-left  ">
        {{ wt.expectedTime | duration:'default-hours' }}
      </td>
      <td class="p-2 text-left  ">
        {{ wt.plannedTime | duration:'default-hours'}}
      </td>
      @if (num(wt.overtime?.seconds || 0); as diff) {
      <td class="p-2 text-left  ">
        <span [ngClass]="{'text-alert-red': diff < 0, 'text-alert-green': diff > 0}">
          {{ diff > 0 ? '+' : '' }}{{ diff | duration:'default-hours' }}
        </span>
      </td>
      <td class="p-2 text-left  ">
        @if (diff < 0) { <input hlmInput type="text" name="vacation" [ngModelOptions]="{updateOn: 'blur'}" duration
          required [ngModel]="vacationPerUser[wt.userId] | duration:'default-hours'"
          (ngModelChange)="updateSplit(wt.userId, $event)">
          }

          @if (diff > 0) {
          <span class="text-secondary">N/A</span>
          }
      </td>
      <td class="p-2 text-left  ">
        @if (diff < 0) { <input hlmInput readonly disabled name="timeoff"
          [ngModel]="(num(wt.overtime!.seconds) + vacationPerUser[wt.userId]) | duration:'default-hours'">
          }
          @if (diff > 0) {
          <span class="text-secondary">N/A</span>
          }
      </td>
      } @else {
      <td></td>
      <td></td>
      <td></td>
      }
    </tr>
    @if (offTimePerUser[wt.userId]?.length) {
    <tr class="border-b border-subtle">
      <td class="p-2"></td>
      <td colspan="5">
        <table class="w-full rounded table-fixed bg-secondary bg-opacity-5">
          <thead>
            <tr class="bg-sublte">
              <th class="p-2 text-xs text-left uppercase  text-secondary bg-sublte">Urlaubsantrag</th>
              <th class="p-2 text-xs text-left uppercase  text-secondary bg-sublte">Von - Bis</th>
              <th class="p-2 text-xs text-left uppercase  text-secondary bg-sublte">Status</th>
              <th class="p-2 text-xs text-left uppercase  text-secondary bg-sublte">Erstellt am</th>
              <th class="p-2 text-xs text-left uppercase  text-secondary bg-sublte"></th>
            </tr>
          </thead>
          <tbody>
            @for (oft of offTimePerUser[wt.userId]; track oft.id) {
            <tr class="hover:bg-gray-100 hover:bg-opacity-50">
              <td class="p-2 text-left ">{{ oft.description }}</td>
              <td class="p-2 text-left ">{{ oft.from?.toDate() | date:'shortDate' }} - {{ oft.to?.toDate()
                | date:'shortDate' }}</td>
              @if (!!oft.approval) {
              <td class="p-2 text-left ">
                {{ oft.approval.approved ? 'Bestätigt' : 'Abgelehnt'}}
              </td>
              }
              @if (!oft.approval) {
              <td class="p-2 text-left text-secondary ">
                N/A
              </td>
              }
              <td class="p-2 text-left ">{{ oft.createdAt!.toDate() | date:'shortDate' }}</td>
              <td class="p-2 text-left "></td>
            </tr>
            }
          </tbody>
        </table>
      </td>
    </tr>
    }
    }
    }
  </tbody>
</table>

<brn-separator hlmSeparator />

<hlm-dialog-footer class="p-1 gap-2">
  <button type="submit" hlmBtn variant="secondary" (click)="abort()">Abbrechen</button>
  <button type="submit" hlmBtn (click)="approve()">Freigeben</button>
</hlm-dialog-footer>