<form (ngSubmit)="save()" class="font-normal" #createForm="ngForm">

  <hlm-dialog-header>
    <h3 hlmDialogTitle>
      Urlaubsantrag {{ _isEdit() ? 'bearbeiten' : 'erstellen' }}
    </h3>
    <p hlmDialogDescription>Erstelle einen neuen Antrag auf Urlaub oder Zeitausgleich</p>
  </hlm-dialog-header>

  <div class="flex flex-col gap-8 py-4 mt-4">

    <div class="flex flex-col">
      <label hlmLabel for="requestor">
        Antragsteller
      </label>

      @if (_profiles(); as profiles) {
      <brn-select [(ngModel)]="_requestor" [ariaReadOnly]="_isEdit()" required class="mt-1" name="requestor">
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>

        <hlm-select-content class="max-h-[30rem]">
          @for (user of profiles; track user.user!.id) {
          <hlm-option [value]="user.user!.id">
            <hlm-avatar
              class="transition-shadow duration-200 ease-in-out group-hover:ring-2 group-hover:ring-primary/50 group-hover:ring-offset-2 mr-4"
              variant="small">
              <img [attr.src]="user.user!.avatar" hlmAvatarImage [attr.alt]="user | displayName">
            </hlm-avatar>

            {{ user | displayName }}
          </hlm-option>
          }
        </hlm-select-content>
      </brn-select>
      }
    </div>

    <div class="flex flex-col">
      <label hlmLabel>
        Beschreibung
        <textarea hlmInput class="w-full h-24" name="comment" [(ngModel)]="_comment"></textarea>
      </label>
    </div>

    <div class="flex flex-col">
    </div>

    <div class="flex flex-col">
      <label hlmLabel for="daterange">
        <span class="flex items-center justify-between">
          <span>
            Zeitraum
          </span>
          <label hlmBadge variant="secondary" for="wholeDays" class="flex items-center gap-2 text-primary/70 text-xs">
            Ganze Tage
            <hlm-checkbox name="wholeDays" [(ngModel)]="_wholeDays" />
          </label>
        </span>
        <nz-range-picker hlmInput required [nzShowTime]="!_wholeDays()" name="daterange"
          [(ngModel)]="_range"></nz-range-picker>
      </label>
    </div>

    <div class="flex flex-col">
      <label hlmLabel for="type">
        Art
      </label>

      <brn-select [(ngModel)]="_type" name="type" hlm class="mt-1">
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>

        <hlm-select-content>
          <hlm-option [value]="Types.UNSPECIFIED">Automatisch</hlm-option>
          <hlm-option [value]="Types.VACATION">Urlaub</hlm-option>
          <hlm-option [value]="Types.TIME_OFF">Zeitausgleich</hlm-option>
        </hlm-select-content>
      </brn-select>
    </div>

    <hlm-dialog-footer class="gap-2">
      <button hlmBtn variant="secondary" type="button" (click)="abort()">Abbrechen</button>
      <button hlmBtn type="submit" [disabled]="createForm.invalid" (clicK)="save()">Antrag erstellen</button>
    </hlm-dialog-footer>
  </div>

</form>