{{ define "roster" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dienstplan</title>
    <style>
      @import url('index.css');
    </style>
  </head>
  <body>
    <ol class="grid grid-cols-7 list-none">
      {{ range .Days }}
      <li class="flex flex-col">
        <span>{{ .DayTitle }}</span>

        <ul>
          {{ range .Shifts }}
          <li>
            {{ .ShiftName }}
            <ul>
              {{ range .Users }}
              <li>
                {{ .Name }}
              </li>
              {{ end }}
            </ul>
          </li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ol>
  </body>
</html>
{{ end }}