<header class="flex flex-row justify-between items-center gap-2 mb-4 text-lg font-normal  ">
  <h2 class="font-light text-xl 2xl:text-2xl ">
    Arbeitszeiten
  </h2>
  @if (_loading()) {
  <hlm-spinner />
  }
</header>


<brn-table hlm class="@container border mt-4 block min-h-[335px] overflow-auto rounded-md"
  [dataSource]="_computedModels()" [fixedLayout]="true" [trackBy]="trackModel" stickyHeader
  [displayedColumns]="_displayedColumns()">

  <!--
  <tkd-empty-table brnNoDataRow [filter]="filter" [totalCount]="_totalCount()" [filteredCount]="_filteredCount()" />
  -->

  <brn-column-def [name]="columns.User"
    class="flex-[1_1_7rem] w-0 min-w-[7rem] @[1023]:flex-[1_0_5rem] overflow-hidden text-ellipsis">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Mitarbeiter
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      @if (e.profile; as user) {
      <span class="inline-flex flex-row flex-nowrap gap-2 items-center text-ellipsis overflow-hidden">

        <hlm-avatar variant="medium" [class.hidden]="!container.sm()">
          <img [attr.src]="user | avatar" hlmAvatarImage [attr.alt]="user | displayName">
          <span hlmAvatarFallback>{{ user | userLetter }}</span>
        </hlm-avatar>

        {{ user | displayName }}
      </span>
      } @else {
      <span class="font-medium text-primary/50">N/A</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Since" class="w-0 flex-[0_0_8rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Seit / Eintritt
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      @if (e.current?.applicableAfter; as date) {
      {{ date | toDate | date:'mediumDate' }}
      } @else {
      <span class="text-primary/50 font-medium">N/A</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Current" class="w-0 flex-[0_0_8rem]  @2xl:flex-[0_0_12rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        <span class="whitespace-nowrap overflow-hidden text-ellipsis">
          Aktuelle Arbeitszeit
        </span>
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ (e.current?.timePerWeek || 0) | duration:'default-hours' }} / Wochen
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.TimeTracking" class="w-0 flex-[0_0_5rem] whitespace-nowrap overflow-hidden
   text-ellipsis">
    <hlm-th *brnHeaderDef>
      ZE
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      @if (e.current?.excludeFromTimeTracking) {
      <span hlmBadge variant="default">Nein</span>
      } @else {
      <span hlmBadge variant="outline">Ja</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Vacation" class="w-0 flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      Urlaub / Jahr
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      {{ e.current?.vacationWeeksPerYear || 0 }} Wochen
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.EndsWith" class="w-0 flex-[0_0_8rem]">
    <hlm-th *brnHeaderDef>
      Endet mit
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      @if (e.current?.endsWith; as date) {
      {{ date | toDate | date: 'mediumDate' }}
      } @else {
      <span class="text-primary/50 font-medium">N/A</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.VacationLeft" class="w-0 flex-[0_0_6rem] @4xl:flex-[0_0_10rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        Resturlaub
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e" class="flex flex-col justify-center items-start gap-0.5">
      @if (e.credits) {
      <span class="block whitespace-nowrap overflow-hidden text-ellipsis">
        {{ e.credits.vacationCreditsLeft | duration:'default-hours' }}
      </span>
      @if ((e.current?.timePerWeek?.seconds || 0) > 0 && e.credits.vacationCreditsLeft!.seconds /
      e.current!.timePerWeek!.seconds; as left) {
      @if (left > 0) {
      <span
        class="text-xs text-primary/50 font-medium hidden @2xl:block whitespace-nowrap overflow-hidden text-ellipsis">
        ({{ left }} Wochen)
      </span>
      }
      }
      } @else {
      <span class="text-primary/50 font-medium">N/A</span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Overtime" class="w-0 flex-[0_0_5rem] @4xl:flex-[0_0_8rem]">
    <hlm-th *brnHeaderDef>
      <tkd-sort-th [(current)]="_sort">
        <span class="hidden @4xl:block">
          ZA-Guthaben

        </span>
        <span class="block @4xl:hidden">
          ZA
        </span>
      </tkd-sort-th>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      @if (e.credits?.timeOffCredits?.seconds; as credits) {
      <span hlmBadge [variant]="credits > 0 ? 'destructive' : 'default'">
        {{ e.credits!.timeOffCredits | duration:'default-hours' }}
      </span>
      } @else {
      <span hlmBadge variant="outline">
        0h
      </span>
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="columns.Actions" class="w-0 flex-[0_0_5rem]">
    <hlm-th *brnHeaderDef>
    </hlm-th>

    <hlm-td *brnCellDef="let e">
      <button hlmBtn variant="ghost" size="icon" [brnMenuTriggerFor]="menu4">
        <hlm-icon name="lucideMoreVertical" size="sm" />
      </button>

      <hlm-alert-dialog #dialog>
        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
          <hlm-alert-dialog-header>
            <h3 hlmAlertDialogTitle>Eintrag wirklich löschen?</h3>
            <p hlmAlertDialogDescription>
              Diese Aktion kann nicht rückgängig gemacht werden.
            </p>
          </hlm-alert-dialog-header>

          <hlm-alert-dialog-footer>
            <button hlmAlertDialogCancel (click)="ctx.close()">Abbrechen</button>
            <button hlmAlertDialogAction class="!bg-destructive !text-destructive-foreground"
              (click)="delete(e.current.id); ctx.close()">Löschen</button>
          </hlm-alert-dialog-footer>
        </hlm-alert-dialog-content>
      </hlm-alert-dialog>

      <ng-template #menu4>
        <hlm-menu class="w-56">
          <hlm-menu-label>Aktionen</hlm-menu-label>
          <hlm-menu-separator />
          <hlm-menu-group>
            <button hlmMenuItem (click)="openModal(e.profile)">
              <hlm-icon name="lucidePencil" hlmMenuIcon />
              <span>Setzten</span>
            </button>

          </hlm-menu-group>

          @if (!e.currentIsNext && e.current && !e.currentEnded) {
          <hlm-menu-separator />
          <hlm-menu-group>
            <button hlmMenuItem class="text-destructive hover:text-destructive" [brnAlertDialogTriggerFor]="dialog">
              <hlm-icon name="lucideTrash2" hlmMenuIcon />
              <span>Löschen</span>
            </button>
          </hlm-menu-group>
          }
        </hlm-menu>
      </ng-template>

    </hlm-td>
  </brn-column-def>

</brn-table>

<nz-modal [nzVisible]="!!analyze" [nzFooter]="null" [nzClosable]="true" (nzOnCancel)="analyze = null">
  <ng-container *nzModalContent>
    <nz-timeline>
      @for (step of analyze?.slices; track step) {
      <nz-timeline-item>
        <p class="font-medium  ">
          {{ step.workTime!.applicableAfter }} - {{ step.endsAt }}
        </p>
        <p class="text-secondary">
          Arbeitszeit:
          <span class="font-normal text-primary">
            {{ step.workTime?.timePerWeek | duration:'default-hours' }} / Woche
          </span>
        </p>
        <p class="text-secondary">
          Urlaub/Jahr:
          <span class="font-normal text-primary">
            {{ step.workTime?.vacationWeeksPerYear }} Wochen
          </span>
        </p>
        <p class="text-secondary">
          Urlaubsanspruch im Zeitraum ({{ step.numberOfDays }} Tage):
          <span class="font-normal text-primary">{{ step.vacationPerWorkTime | duration:'default-hours' }}</span>
        </p>
        @if (!!step.costsSum?.seconds) {
        <p class="text-secondary">Verbrauchter Urlaub: <span class="font-normal text-primary">{{ step.costsSum |
            duration:'default-hours' }}</span></p>
        }
        @if (step.vacationPerWorkTime && step.costsSum) {
        <p class="text-secondary">
          Rest-Urlaub im Zeitraum:
          <span class="font-normal text-primary">
            {{ (step.vacationPerWorkTime!.seconds + step.costsSum!.seconds ) | duration:'default-hours' }}
          </span>
        </p>
        }
      </nz-timeline-item>
      }
    </nz-timeline>
  </ng-container>
</nz-modal>
