<!--
Menu on Desktop and up
-->
@if (layout.lg() && !_isRosterView() && _isAdmin()) {
<nav class="relative z-10 flex flex-col flex-shrink-0 w-64 h-full bg-white shadow-md print:hidden">
  <!-- Logo -->
  <div class="h-16 flex flex-row items-center justify-start pl-2">
    <a class="flex items-center gap-4" href="https://my.dobersberg.vet">
      <img src="assets/logo.png" class="w-10 h-10" alt="logo">
      <h1 class="flex flex-col text-base font-semibold leading-4 ">
        <span style="color: #1080cf">Tierklinik</span>
        <span style="color: #15377e">Dobersberg</span>
      </h1>
    </a>
  </div>
  <!-- Actual Menu -->
  <div class="flex-grow overflow-auto">
    <ng-container *ngTemplateOutlet="navigationTemplate; context: {$implicit: true}"></ng-container>
  </div>
</nav>
}

<!--
Next to the sidebar there's the main content container including the header
-->
<div class="flex flex-col flex-grow overflow-x-hidden">
  <header
    class="flex items-center justify-between px-2 py-4 sm:px-4 md:px-8 lg:px-12 shadow-sm border-b border-subtle h-16 w-full print:hidden"
    [ngClass]="{
      '!pl-4': _isRosterView(),
    }">

    <!-- On mobile the logo is put into the header -->
    @if (!layout.lg()) {
    <a class="block w-8 h-8 mr-2" href="https://my.dobersberg.vet">
      <img class="w-full h-full" src="assets/logo.png" alt="logo">
    </a>
    }

    <div class="flex flex-col justify-center items-start">
      @if (_outlet(); as outlet) {
      <ng-container *ngTemplateOutlet="outlet" />
      } @else {
      <h1 class="text-lg  font-light flex-grow whitespace-nowrap">
        Dienstplan & Urlaubs Verwaltung
      </h1>
      }
    </div>

    <div class="flex flex-row justify-between items-center flex-grow-0 gap-4">
      @if (!layout.lg() || _isRosterView()) {
      <button hlmBtn variant="ghost" size="icon">
        <hlm-icon name="lucideMenu" size="sm" (click)="drawerVisible = !drawerVisible"></hlm-icon>
      </button>
      }

      @if (_profile(); as user) {
      <span class="flex flex-row w-full items-center justify-start gap-2 text-sm ">
        <a [attr.href]="accountServer" target="_blank">
          <hlm-avatar
            class="transition-shadow duration-200 ease-in-out group-hover:ring-2 group-hover:ring-primary/50 group-hover:ring-offset-2 mr-2"
            variant="medium">
            <img [attr.src]="user | avatar" hlmAvatarImage [attr.alt]="user | displayName">
            <span hlmAvatarFallback>{{ user | userLetter }}</span>
          </hlm-avatar>
        </a>

        @if (layout.md()) {
        <span class="inline-flex flex-col items-start leading-4 ">
          <span class="font-semibold">{{ user.user?.username }}</span>
          @if ((user | displayName) !== user.user?.username) {
          <span class=" text-sm font-light text-primary/75">{{ user | displayName }}</span>
          }
        </span>
        }
      </span>
      }
    </div>
  </header>

  <div class="px-2 py-4 sm:px-4 md:px-8 lg:px-12 print:p-0 overflow-hidden flex flex-col items-stretch flex-grow"
    id="content" [ngClass]="{'!p-0': _isRosterView()}" containerSize>
    <router-outlet></router-outlet>

    <app-dev-size />
  </div>
</div>

<ng-template #drawerTitle>
  <div class="flex flex-row justify-between items-center w-full">
    @if (_profile(); as user) {
    <span class="flex flex-row w-full items-center justify-start gap-2 text-sm ">
      <a [attr.href]="accountServer" target="_blank">
          <hlm-avatar
            class="transition-shadow duration-200 ease-in-out group-hover:ring-2 group-hover:ring-primary/50 group-hover:ring-offset-2 mr-2"
            variant="medium">
            <img [attr.src]="user | avatar" hlmAvatarImage [attr.alt]="user | displayName">
            <span hlmAvatarFallback>{{ user | userLetter }}</span>
          </hlm-avatar>
      </a>

      <span class="inline-flex flex-col items-start leading-4 ">
        <span class="font-semibold">{{ user.user?.username }}</span>
        @if ((user | displayName) !== user.user?.username) {
        <span class=" text-sm font-light">{{ user | displayName }}</span>
        }
      </span>
    </span>
    }

    <hlm-icon name="heroXMarkMini" size="1rem" strokeWidth="1px" (click)="drawerVisible = false"></hlm-icon>
  </div>
</ng-template>

@if (_isAdmin() && (!layout.lg() || _isRosterView())) {
<nz-drawer [nzClosable]="false" [nzVisible]="drawerVisible" [nzPlacement]="'right'" (nzOnClose)="closeDrawer()"
  [nzTitle]="drawerTitle" class="rounded-l">
  <div *nzDrawerContent class="flex flex-col gap-4 -ml-6 -mr-6">
    <nav class="flex flex-col gap-2 w-full [--ng-icon__size:1rem]">
      <ng-container *ngTemplateOutlet="navigationTemplate; context: {$implicit: true}"></ng-container>

      <a [attr.href]="accountServer" role="navigation" target="_blank">
        <hlm-icon name="heroUser"></hlm-icon>
        Profil anzeigen
      </a>
    </nav>
  </div>
</nz-drawer>
}

<ng-template #navigationTemplate let-drawer>
  @if (_isAdmin()) {
  <button hlmBtn variant="link" role="navigation" routerLink="/roster" [routerLinkActive]="'nav__active'">
    <hlm-icon name="lucideCalendar" size="none" />
    Dienstpläne
  </button>
  <button hlmBtn variant="link" role="navigation" routerLink="/offtimes" [routerLinkActive]="'nav__active'">
    <hlm-icon name="lucidePlane" size="none" />
    Urlaubsanträge
  </button>
  <button hlmBtn variant="link" role="navigation" routerLink="/costs" [routerLinkActive]="'nav__active'">
    <hlm-icon name="lucideUserX" size="none" />
    Abwesenheiten
  </button>
  <button hlmBtn variant="link" role="navigation" routerLink="/worktimes" [routerLinkActive]="'nav__active'">
    <hlm-icon name="lucideCalendarClock" size="none" />
    Arbeitszeiten
  </button>
  <button hlmBtn variant="link" role="navigation" routerLink="/admin/" [routerLinkActive]="'nav__active'">
    <hlm-icon name="lucideCog" size="none" />
    Administration
  </button>
  }
</ng-template>


<hlm-toaster />
