<header
  class="relative flex flex-row items-center justify-start gap-4 px-6 mb-2 bg-white border-b shadow border-subtle print:hidden">
  <a [attr.href]="mainApplication" target="_blank" class="flex-grow-0 flex-shrink-0">
    <img src="/assets/logo.png" class="w-10 h-10 cursor-pointer aspect-square">
  </a>

  <h1 routerLink="/roster/" class="text-base md:text-lg font-light cursor-pointer font-inter sm:leading-3 leading-4">Dienstplan / Urlaubs Verwaltung</h1>

  <nav *ngIf="layout.lg" class="flex flex-row items-stretch justify-start flex-grow h-full gap-2 ml-8 font-light text-inter">
    <ng-container *ngTemplateOutlet="navigationTemplate"></ng-container>
  </nav>

  <div class="flex-grow lg:hidden"></div>

  <button class="lg:hidden justify-self-end flex items-center justify-center" (click)="drawerVisible = !drawerVisible">
    <ng-icon name="heroBars4" size="1rem"></ng-icon>
  </button>

  <div class="hidden lg:block">
    <span *ngIf="(profile | async) as user" class="flex flex-row items-center justify-center gap-2 font-light font-inter">
      <span>{{ user.user?.displayName || user.user?.username }}</span>
      <a [attr.href]="accountServer" target="_blank">
        <nz-avatar [nzSize]="32" nzIcon="user" [nzSrc]="user.user?.avatar" class="rounded-full shadow ring-1">
        </nz-avatar>
      </a>
    </span>
  </div>
</header>

<ng-template #drawerTitle>
  <div class="flex flex-row justify-between items-center w-full">
    <span *ngIf="(profile | async) as user" class="flex flex-row w-full items-center justify-start gap-2 text-sm ">

      <a [attr.href]="accountServer" target="_blank">
        <nz-avatar [nzSize]="36" nzIcon="user" [nzSrc]="user.user?.avatar" class="rounded-full border border-subtle">
        </nz-avatar>
      </a>

      <span class="inline-flex flex-col items-start leading-4 font-lato">
        <span class="font-semibold">{{ user.user?.username }}</span>
        <span class=" text-sm font-light" *ngIf="(user | displayName) !== user.user?.username">{{ user | displayName }}</span>
      </span>
    </span>

    <ng-icon name="heroXMarkMini" size="1rem" strokeWidth="1px" (click)="drawerVisible = false"></ng-icon>
  </div>
</ng-template>

<nz-drawer [nzClosable]="false" [nzVisible]="drawerVisible" [nzPlacement]="'right'"
  (nzOnClose)="closeDrawer()" *ngIf="isAdmin && !layout.lg" [nzTitle]="drawerTitle" class="rounded-l">

  <div *nzDrawerContent class="flex flex-col gap-4 -ml-6 -mr-6">
    <nav class="flex flex-col gap-2 w-full">

      <a [attr.href]="accountServer" role="navigation" target="_blank">
          <ng-icon name="heroUser"></ng-icon>
          Profil anzeigen
      </a>

      <ng-container *ngTemplateOutlet="navigationTemplate; context: {$implicit: true}"></ng-container>
    </nav>
  </div>

</nz-drawer>

<div class="p-2 print:p-0 overflow-hidden flex flex-col items-stretch" id="content">
  <router-outlet></router-outlet>
</div>

<ng-template #navigationTemplate let-drawer>
    <ng-container *ngIf="isAdmin | async">
      <a
        role="navigation" routerLink="/roster"
        [routerLinkActive]="'nav__active'">
        <ng-icon name="ionCalendarOutline"></ng-icon>
        Dienstpläne
      </a>
      <a
        role="navigation" routerLink="/offtimes"
        [routerLinkActive]="'nav__active'">
        <ng-icon name="ionAirplaneOutline"></ng-icon>
        Urlaubsanträge
      </a>

      <a
        role="navigation" routerLink="/costs"
        [routerLinkActive]="'nav__active'">
        <ng-icon name="ionAlarmOutline"></ng-icon>
        Abwesenheiten
      </a>

      <a
        role="navigation" routerLink="/worktimes"
        [routerLinkActive]="'nav__active'">
        <ng-icon name="heroClock"></ng-icon>
        Arbeitszeiten
      </a>

      <a
        role="navigation" routerLink="/admin/"
        [routerLinkActive]="'nav__active'">
        <ng-icon name="heroCog6Tooth"></ng-icon>
        Administration
      </a>

    </ng-container>
</ng-template>
