<div class="relative flex flex-row overflow-hidden w-full">
  <div *ngIf="layout.lg() && !readonly"
    class="flex flex-col items-center flex-shrink-0 w-24 gap-2 bg-white border-r shadow-sm border-subtle print:hidden">
    <ng-container *ngTemplateOutlet="userSelectionTemplate"></ng-container>
  </div>

  <!-- Desktop View -->
  <nz-calendar *ngIf="layout.lg(); else: mobileTemplate" [nzDisabledDate]="dateDisabled" [nzValue]="selectedDate!"
    nzMode="month" [nzFullscreen]="true" (nzPanelChange)="onPanelChange($event)"
    (nzSelectChange)="onDateSelected($event)" class="flex-grow overflow-auto" [ngClass]="{'cursor-default': readonly}">
    <div *nzDateFullCell="let date">
      <ng-container *ngIf="(date|date:'yyyy-MM-dd') as key">
        <tkd-roster-planner-day [requiredShifts]="shifts[key]" (rosterShiftChange)="setRosterShifts(date, $event)"
          class="overflow-hidden" [offTimeRequest]="offTimeEntries" [workTimeStatus]="workTimeByUser"
          [rosterDate]="selectedDate!" [date]="date" [holiday]="publicHolidays[key]" [profiles]="allProfiles"
          [selectedUser]="selectedUser" [plannedShifts]="plannedShifts[key]" [readonly]="readonly"
          [style.height.px]="maxShifts * 50" [disabled]="dateDisabled(date)" [highlightUserShifts]="highlightUserShifts"
          [attr.data-key]="key"></tkd-roster-planner-day>
      </ng-container>
    </div>
  </nz-calendar>

  <!-- Mobile and Table View-->
  <ng-template #mobileTemplate>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 items-stretch gap-4 w-full overflow-auto">
      <ng-container *ngFor="let date of dates">
        <ng-container *ngIf="(date|date:'yyyy-MM-dd') as key">
          <tkd-roster-planner-day [requiredShifts]="shifts[key]" (rosterShiftChange)="setRosterShifts(date, $event)"
            class="border-b border-primary" [offTimeRequest]="offTimeEntries" [workTimeStatus]="workTimeByUser"
            [rosterDate]="selectedDate!" [date]="date" [holiday]="publicHolidays[key]" [profiles]="allProfiles"
            [selectedUser]="selectedUser" [plannedShifts]="plannedShifts[key]" [readonly]="readonly"
            [style.height.px]="maxShifts * 50" [disabled]="dateDisabled(date)"
            [highlightUserShifts]="highlightUserShifts" [attr.data-key]="key"></tkd-roster-planner-day>
        </ng-container>
      </ng-container>

    </div>
  </ng-template>

</div>

<ng-template #userSelectionTemplate>
  <div class="flex flex-col items-center flex-grow w-full overflow-auto">
    <ng-container *ngFor="let user of profiles">
      <ng-container *ngIf="user.user?.id as userId">
        <div (click)="setSelectedUser(userId)" [nz-tooltip]="user | displayName" nzTooltipPlacement="right"
          [ngClass]="{'bg-secondary-dark shadow-inner bg-opacity-40': selectedUser === userId}"
          class="relative flex flex-col items-center w-full gap-1 p-2 transition-colors duration-200 ease-out border-b cursor-pointer border-subtle group hover:bg-secondary hover:bg-opacity-25">
          <nz-avatar [nzSize]="48" nzIcon="user" [nzSrc]="user.user!.avatar"
            class="transition-shadow duration-200 ease-in-out rounded-full group-hover:ring-2" [ngClass]="{
                'ring-2 ring-alert-red': ((workTimeByUser[userId]?.overtime?.seconds || 0) > 0),
                'ring-2': selectedUser === userId
              }">
          </nz-avatar>
          <span class="text-xs whitespace-nowrap  text-secondary" *ngIf="workTimeByUser[userId] as work">
            <span class="text-alert-red" [nz-tooltip]="'Überstunden: ' + (work.overtime | duration:'default-hours')"
              [class.!text-alert-green-dark]="(work.overtime?.seconds || 0) !== 0 ">{{ work.plannedTime |
              duration:'default-hours' }}</span>/{{ work.expectedTime | duration:'default-hours'}}
          </span>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            class="absolute hidden w-4 h-4 top-1 right-1 text-color-primary text-opacity-light hover:text-color-primary group-hover:block"
            tkdDebounceEvent="mouseenter" tkdDebounceStopEvent="mouseleave" tkdDebounceEventTime="500"
            (tkdOnEvent)="highlightUserShifts = userId" (mouseleave)="highlightUserShifts = null">
            <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
            <path fill-rule="evenodd"
              d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
              clip-rule="evenodd" />
          </svg>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<nz-drawer *ngIf="!layout.lg() && !readonly" [nzVisible]="drawerVisible" (nzOnClose)="drawerVisible = false" [nzWidth]="layout.drawerWidth() || 'inherit'" nzPlacement="left">
  <ng-container *nzDrawerContent>
    <ng-container *ngTemplateOutlet="userSelectionTemplate"></ng-container>
  </ng-container>
</nz-drawer>

<div class="fixed bottom-4 left-4" *ngIf="!layout.lg() && !readonly">
  <button class="transiton-[width] ease-in-out duration-300 flex flex-row items-center gap-2 rounded-full bg-primary hover:bg-primary-dark cursor-pointer text-white" (click)="drawerVisible = true" [ngClass]="{'p-3': !selectedUser, 'py-1.5 px-3': selectedUser}">
    <svg *ngIf="!selectedUser" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
    </svg>

    <ng-container *ngIf="((selectedUser||'') | toUser:allProfiles) as user">
      <nz-avatar *ngIf="selectedUser" [nzSize]="36" nzIcon="user" [nzSrc]="user.user!.avatar">
      </nz-avatar>

      <span *ngIf="!!selectedUser">
        {{ user | displayName }}
      </span>
    </ng-container>
  </button>
</div>
